raspberry_pi_1.json
[
    {
        "id": "587757e4ac73e754",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebaafe1472ed795d",
        "type": "debug",
        "z": "587757e4ac73e754",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2a03df37722dc19",
        "type": "grove analog sensor",
        "z": "587757e4ac73e754",
        "name": "",
        "pin": "1",
        "sensor": "light",
        "repeat": "1",
        "board": "6cbfe65c7064aad5",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "4e1391cc6ade5a4a",
                "51c69b3a378f582d"
            ]
        ]
    },
    {
        "id": "c0ecd154039399c7",
        "type": "grove analog sensor",
        "z": "587757e4ac73e754",
        "name": "",
        "pin": "0",
        "sensor": "light",
        "repeat": "1",
        "board": "6cbfe65c7064aad5",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "a36629f2793c78c1"
            ]
        ]
    },
    {
        "id": "4e1391cc6ade5a4a",
        "type": "function",
        "z": "587757e4ac73e754",
        "name": "light in",
        "func": "msg.payload = { light_in: msg.payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "f312170d448b57e7"
            ]
        ]
    },
    {
        "id": "a36629f2793c78c1",
        "type": "function",
        "z": "587757e4ac73e754",
        "name": "light out",
        "func": "msg.payload= {light_out:msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "f312170d448b57e7"
            ]
        ]
    },
    {
        "id": "f312170d448b57e7",
        "type": "join",
        "z": "587757e4ac73e754",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "1",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "47da856058d6f1fe"
            ]
        ]
    },
    {
        "id": "47da856058d6f1fe",
        "type": "function",
        "z": "587757e4ac73e754",
        "name": "function 37",
        "func": "var work_Globalcount = global.get(\"count\");\n\n\n\nif(msg.payload.light_in < 100){\n    if (work_Globalcount.b1 == 0){\n    work_Globalcount.c = work_Globalcount.c + 1;\n        work_Globalcount.a=true;\n        work_Globalcount.b1=1;\n    }\n}else{\n    if (work_Globalcount.b1 == 1){\n        work_Globalcount.b1 = 0;\n    }\n    work_Globalcount.a = false;\n    \n}\nmsg.payload.light_in = work_Globalcount.c;\nmsg.payload.take_picture = work_Globalcount.a;\nif (msg.payload.light_out <100) {\n    if (work_Globalcount.b2 == 0){\n    work_Globalcount.c = work_Globalcount.c - 1;\n    \n        work_Globalcount.b2=1;\n    }\n} else {\n    if (work_Globalcount.b2 == 1){\n        work_Globalcount.b2=0;\n    }\n    \n}\nmsg.payload.light_out = work_Globalcount.c;\nmsg.payload.waitingtime= msg.payload.light_out * 15;\nmsg.payload.count = msg.payload.light_out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar Globalcount = {}; \nGlobalcount.c = 0;\nGlobalcount.b1 = 0;\nGlobalcount.b2 = 0; \nGlobalcount.a = false;\nglobal.set(\"count\", Globalcount);",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 160,
        "wires": [
            [
                "34381b13eb284ccf"
            ]
        ]
    },
    {
        "id": "eb5e6f93243adef8",
        "type": "grove lcdrgb output",
        "z": "587757e4ac73e754",
        "name": "",
        "board": "6cbfe65c7064aad5",
        "pin": "1",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "34381b13eb284ccf",
        "type": "function",
        "z": "587757e4ac73e754",
        "name": "function 38",
        "func": "msg.payload.text = \"Waiting time :\" + msg.payload.waitingtime + \"  Count :\" + msg.payload.count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "ebaafe1472ed795d",
                "eb5e6f93243adef8"
            ]
        ]
    },
    {
        "id": "51c69b3a378f582d",
        "type": "function",
        "z": "587757e4ac73e754",
        "name": "blink LED",
        "func": "if(msg.payload<100){\n    msg.payload=1;\n    return msg;\n}\nelse{\n    msg.payload = 0;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "81051bdea22b9ba4",
                "4514a43a88c33836",
                "d3af019b9083b12f"
            ]
        ]
    },
    {
        "id": "81051bdea22b9ba4",
        "type": "grove digital output",
        "z": "587757e4ac73e754",
        "name": "LED red signal",
        "board": "b19756324a83c8d1",
        "pin": "2",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "4514a43a88c33836",
        "type": "grove digital output",
        "z": "587757e4ac73e754",
        "name": "LED green signal",
        "board": "b19756324a83c8d1",
        "pin": "3",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "d3af019b9083b12f",
        "type": "grove digital output",
        "z": "587757e4ac73e754",
        "name": "LED blue signal",
        "board": "b19756324a83c8d1",
        "pin": "4",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "6cbfe65c7064aad5",
        "type": "board-config",
        "board": "GrovePi"
    },
    {
        "id": "b19756324a83c8d1",
        "type": "board-config",
        "board": "GrovePi"
    }
]